.banner {
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   width: 100%;
   height: 60vh; /* Sayfa yüksekliği kadar olacak şekilde ayarlayın */
}

.banner img {
   object-fit: cover;
   width: 100%;
   height: auto;
}
