.category-boxes {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   position: relative;
   overflow-x: auto;
   width: 100%;
   padding: 0.5rem 0 1rem 0;
}

.category-box {
   min-width: max-content;
   padding: 0.5rem 1rem;
   transition: all 0.25s;
   background-color: var(--light-bg);
   border-radius: 0.5rem;
   font-size: 0.9rem;
   color: var(--black-color);
   transition: all 0.35;
   border: 1px solid var(--dark-color);
   letter-spacing: 1px;
   text-transform: uppercase;
   font-weight: 400;
   box-shadow: 1.5px 3px rgba(0, 0, 0, 0.2), 0 12px 16px rgba(0, 0, 0, 0.1);
}
.category-box:hover,
.category-box.active {
   filter: brightness(80%);
   transition: filter 0.7s ease-out;
   cursor: pointer;
   border-radius: 0;
   border: 1px var(--dark-color) solid;
}
