.category-boxes {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 1rem;
   position: relative;
   overflow-x: auto;
   width: 100%;
   padding: 0.5rem 0 1rem 0;
}

.category-box {
   min-width: max-content;
   padding: 0.5rem 1rem;
   transition: all 0.25s;
   background-color: var(--light-bg);
   border-radius: 0.5rem;
   font-size: 0.9rem;
   color: var(--gray-color-200);
   transition: all 0.35;
   border: 1px solid rgb(255, 255, 255, 0);
}
.category-box:hover,
.category-box.active {
   background: var(--second-color);
   cursor: pointer;
   color: #fff;
   border-radius: 0;
   border: 1px var(--light-bg) solid;
}
