@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

:root {
   --first-color: #363b81;
   --light-color: #5db9ff;
   --dark-color: #282d35;
   --gray-color-75: #dadee7;
   --gray-color-100: #b5bcc5;
   --gray-color-200: #566683;
   --second-color: #ff1f1f;
   --main-bg: #fff;
   --light-bg: #f3f4f7;
   --opacity-bg: #7ab1da;
   --header-height: 4.5rem;
   --font: 'M PLUS Rounded 1c', sans-serif;
}

* {
   margin: 0;
   padding: 0;
}

body {
   position: relative;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   color: var(--dark-color);
   font-family: var(--font);
   background: rgb(34, 95, 151);
   background: linear-gradient(
      90deg,
      rgba(34, 95, 151, 1) 23%,
      rgba(138, 223, 239, 1) 100%
   );
}

html {
   scroll-behavior: smooth;
   scroll-snap-stop: var(--header-height);
   font-size: 16px;
}
.main-section {
   position: relative;
   padding-top: calc(var(--header-height) + 1.5rem);
}
.section {
   padding: 2.5rem 0;
}
.section-title {
   display: inline-block;
   margin-bottom: 1rem;
   padding: 0.5rem 2rem 0.5rem 0.5rem;
   transition: all 0.35s;
   background-color: var(--light-bg);
   border-radius: 0.5rem;
   font-size: 2rem;
   font-weight: 800;
   color: var(--dark-color);
   border: 1px solid rgb(255, 255, 255, 0);
}

.section-title:hover {
   background-color: var(--second-color);
   border-radius: 0;
   color: var(--light-bg);
   border: 1px solid var(--light-bg);
}

.container {
   position: relative;
   width: 1320px;
   margin: auto;
   padding: 0 1rem;
}

a {
   text-decoration: none;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

li {
   padding: 10px 0;
}

@media screen and (max-width: 1500px) {
   .container {
      width: 1140px;
   }
}

@media screen and (max-width: 1400px) {
   .container {
      width: 1140px;
   }
}

@media screen and (max-width: 1200px) {
   .container {
      width: 960px;
   }
}

@media screen and (max-width: 992px) {
   .container {
      width: 100%;
   }

   .section-title {
      font-size: 1.25;
   }
}
