@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

:root {
   --first-color: #363b81;
   --light-color: #5db9ff;
   --dark-color: #282d35;
   --gray-color-75: #dadee7;
   --gray-color-100: #b5bcc5;
   --gray-color-200: #566683;
   --second-color: #ff1f1f;
   --main-bg: #fff;
   --light-bg: #f3f4f7;
   --opacity-bg: #7ab1da;
   --header-height: 4.5rem;
   --font: 'M PLUS Rounded 1c', sans-serif;
}

* {
   margin: 0;
   padding: 0;
}

body {
   position: relative;
   min-height: 100vh;
   margin: 0;
   padding: 0;
   font-family: var(--font);
}

body.dark {
   --first-color: #ff1f1f;
   --light-color: #000;
   --dark-color: #f6f2f2;
   --gray-color-75: #2d384b;
   --gray-color-100: #879cc2;
   --gray-color-200: #566683;
   --main-bg: #111827;
   --light-bg: #172031;
   --opacity-bg: #1d383f;
}

html {
   scroll-behavior: smooth;
   scroll-snap-stop: var(--header-height);
   font-size: 16px;
}
.main-section {
   position: relative;
   padding-top: calc(var(--header-height) + 1.5rem);
}
.section {
   padding: 2.5rem 0;
}
.section-title {
   margin-bottom: 1rem;
   font-size: 1.7rem;
   font-weight: 800;
   color: var(--gray-color-75);
}
.container {
   position: relative;
   width: 1320px;
   margin: auto;
   padding: 0 1rem;
}

a {
   text-decoration: none;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

li {
   padding: 10px 0;
}

body.dark-mode {
   --first-color: #3ac7a5;
   --light-color: #000;
   --dark-color: #f6f2f2;
   --gray-color-75: #2d384b;
   --gray-color-100: #879cc2;
   --gray-color-200: #566683;
   --main-bg: #111827;
   --light-bg: #172031;
   --opacity-bg: #1d383f;
}

@media screen and (max-width: 1400px) {
   .container {
      width: 1140px;
   }
}

@media screen and (max-width: 1500px) {
   .container {
      width: 1140px;
   }
}

@media screen and (max-width: 1200px) {
   .container {
      width: 960px;
   }
}

@media screen and (max-width: 992px) {
   .container {
      width: 100%;
   }
}
