.header {
   box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
   align-items: center;
   position: fixed;
   display: flex;
   justify-content: space-between;
   z-index: 9;
   top: 1rem;
   left: 0;
   right: 0;
   height: calc(var(--header-height));
   margin: 0 auto;
   padding: 0.25rem 0;
   background-color: var(--light-bg);

   border-radius: 2rem;
}

.header-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 0.5rem;
   position: relative;
   height: 100%;
}

.logo {
   margin-left: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo img {
   margin-right: 0.25rem;
   object-fit: cover;
   width: 42px;
   transition: all 0.35s;
}

.logo img:hover {
   transform: scale(1.15);
}

.logo-link {
   display: flex;
   align-items: center;
   justify-content: center;
}

.logo-text {
   font-size: 1.5rem;
   font-weight: 500;
   color: var(--first-color);
   transition: all 0.35s;
}

.logo-text:hover {
   color: var(--second-color);
}

.list {
   margin-right: 1rem;
   display: flex;
   align-items: center;
   color: var(--first-color);
}

.listItems {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 0.25rem;
   margin-left: 0.25rem;
   padding: 0.5rem 0.7rem;
   border: 1px solid var(--first-color);
   border-radius: 5rem;
   font-weight: 500;
   transition: all 0.35s;
}

.listItems:hover {
   border: 1px solid var(--second-color);
   color: var(--second-color);
}

.right {
   display: flex;
   justify-content: center;
   align-items: center;
}

.menuItemIcon {
   width: 22px;
   height: 22px;
   margin-right: 0.45rem;
}

.hamburger-icon {
   width: 44px;
   height: 44px;
   margin-right: 1.75rem;
}

/* Responsive Styles */
@media screen and (max-width: 760px) {
   .header {
      height: auto;
      position: relative;
      padding: 1rem 0;
   }

   .logo {
      margin-left: 1.75rem;
   }

   .list {
      display: none;
   }

   .menu-icon {
      display: block;
      cursor: pointer;
   }

   .open .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0.5rem;
      width: 50vw;
   }

   .open .listItems {
      display: flex;
      align-items: center;
      border: 2px solid var(--black-color);
      width: 100%;
   }

   .open .header-container {
      justify-content: space-between;
   }
}
