.pokemon-detail-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   margin: 4rem 0;
   padding: 2rem 0;
   background-color: var(--light-bg);
   border-radius: 1rem;
   position: relative;
   max-height: 800px;
}

.pokemon-detail-image-container {
   display: grid;
   justify-content: center;
   align-items: center;
   flex-basis: 50%;
   grid-column: 1;
   position: relative;
   max-height: 600px;
   border-radius: 1rem;
}

.pokemon-detail-image {
   object-fit: cover;
   width: 95%;
   height: 95%;
   padding: 7rem 0 2rem 2rem;
   transition: all 0.35s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1),
      0 8px 10px rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0, 0, 0, 0.1);
   transition: all 0.4s;
}

.pokemon-detail-image:hover {
   transform: scale(1.15);
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 12px 16px rgba(0, 0, 0, 0.2),
      0 16px 20px rgba(0, 0, 0, 0.2), 0 20px 24px rgba(0, 0, 0, 0.2);
}

.pokemon-details-container {
   flex-basis: 50%;
   padding: 2rem 2rem 0 0;
   position: relative;
   max-height: 600px;
}

.pokemon-detail-name {
   margin-bottom: 1.5rem;
   transition: all 0.35s;
   font-size: 4.25rem;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.pokemon-detail-type-container {
   justify-content: center;
   margin-bottom: 1.5rem;
}

.pokemon-detail-type-container ul {
   list-style: circle;
   text-transform: uppercase;
}

.pokemon-detail-type {
   background-color: var(--dark-color);
   display: inline-block;
   padding: 0.25rem 1.25rem;
   color: var(--light-bg);
   margin: 0 0.25rem 1.5rem 0;
}

.pokemon-detail-weight {
   margin-bottom: 2rem;
}
.pokemon-detail-height {
   margin-bottom: 2rem;
}

.pokemon-detail-weight,
.pokemon-detail-height {
   display: flex;
   align-items: center;
   margin-bottom: 2rem;
   font-size: 1.5rem;
}

.pokemon-detail-flavor-text {
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   margin-bottom: 2rem;
   position: inherit;
}

.pokemon-detail-icons {
   font-size: 1.5rem;
   margin-right: 0.25rem;
}

.pokemon-detail-fav-container {
   position: absolute;
   background-color: var(--dark-color);
   border-radius: 1rem;
   justify-content: center;
   align-items: center;
   padding: 0.75rem 1.5rem;
   border: 0.2rem solid black;
   display: inline-block;
   transition: all 0.5s;
   cursor: pointer;
   display: flex;
   color: var(--light-bg);
   align-items: center;
   gap: 0.5rem;
   font-size: 1rem;
   font-weight: 600;
}
.pokemon-detail-fav-container:hover {
   background-color: var(--light-bg);
   color: var(--dark-color);
}

.pokemon-detail-fav-container:hover .pokemon-detail-fav-icon {
   color: var(--dark-color);
}

.pokemon-detail-fav-icon {
   font-size: 1.4rem;
   color: var(--light-bg);
}

.similar-pokemons-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1rem;
   width: 100%;
   margin: 1rem 0;
}

@media (max-width: 768px) {
   .similar-pokemons-container {
      justify-content: center;
   }
}

@media (max-width: 650px) {
   .similar-pokemons-container {
      justify-content: center;
   }
}

@media (max-width: 425px) {
   .similar-pokemons-container {
      justify-content: center;
   }
}
