.pokelist-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1rem;
   width: 100%;
   margin: 1rem 0;
}

@media (max-width: 768px) {
   .pokelist-container {
      justify-content: center;
   }
}

@media (max-width: 650px) {
   .pokelist-container {
      justify-content: center;
   }
}

@media (max-width: 425px) {
   .pokelist-container {
      justify-content: center;
   }
}
